:root {
  --primary-color: #7a7878;
  --secondary-color: #072ac8;
}

.App {
  background-color: #f4f4f4;
}

.third {
  color: #a0d2db;
}

.fourth {
  color: #6bbf59;
}

.fifth {
  color: #147046;
}

.App header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: 100%;
  color: #fff;
  height: 70px;
}

.App h3 {
  padding-left: 30px;
}
.App nav a {
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}

.App nav a:hover {
  color: #a0d2db;
}

.App nav a:nth-last-child(1) {
  padding-right: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.random-sentence-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #7a7878 5px solid;
  border-radius: 5px;
  width: 600px;
  height: 600px;
}

.random-sentence-mid {
  margin-top: 10px;
}
.random-sentence-container a {
  color: #147046;
}
